#document{
background-color :#D0EAFF;
}

#form-field{
color: green;
}
input {
color: black;
}
body{
background-color :#003366;
font-colour:green;
}

#quest{
background-color :#D0EAFF; 
}

#start_recap{
align: center;
}

h3 {
font-colour:green;
background-color :blue;
}

p {
border: 2px solid #0066FF;  

background-color:#1E90FF;  

padding:5px;  

margin-top:5px;  

margin-bottom:5px;  

margin-left:20px;  

margin-right:20px; 
}



 #navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	}