
body{
	
	margin:0;
	padding:0;
}

#box{
	background: url(../image/backgroundgrey.jpg);  
	background-repeat:repeat;
}

#side { 
	/**background: url(../image/column.gif);*/
	
	background-color:blue;
	
	float:left;
	
	height: 500px;
	margin: 0 auto; 
    
    max-width: 1920px; 
	width: 270px
	
	position: fixed;
	bottom: 20%;
	top: 0;
	overflow-x: auto;
	overflow-y: hidden;
	
	
  
   /** box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}


#first { 
	
	/**background: url(../image/backgroundgrey.jpg); 
	background-color:green;*/
	height:830px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    /**box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}
#second { 
	
	/**background: url(../image/dots.jpg); 
	background-repeat:repeat;
	background-color:yellow;*/
	height: 830px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    /**box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}


#third { 
	/**background: url(../image/warehouse.jpg) 50% 0 no-repeat fixed;
	background-color:white;*/
	height: 830px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    /**box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

#fourth { 
	/**background: url(../image/warehouse.jpg) 50% 0 no-repeat fixed;
	background-color:blue;*/
	height: 830px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    /**box-shadow: 0 0 50px rgba(0,0,0,0.8);*/}
	
#document { 
	/**background: url(../image/warehouse.jpg) 50% 0 no-repeat fixed;
	background-color:grey;*/
	height:820px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
   /**box-shadow: 0 0 50px rgba(0,0,0,0.8);*/}
    
    
 p.docpara {
 font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
 color:red;
 font-size:100%;
 text-align: left;
 }
 
 p.fancy {
 font-family: "Brush Script MT", cursive;
 color:black;
 font-size:800%;
 text-align: centre;
 line-height:100%
 }
 
p.col{
 font-family: "Verdana, Geneva, sans-serif";
 color:grey;
 font-size:120%;
 line-height:110%
}

/* Introduction */

#side article{  height: 458px; position: absolute; top: 291px; width: auto }

#first article {  height: 458px; position: absolute;  top: 291px; width: auto; }

#second article{  height: 458px; position: absolute;  top: 291px; width: auto; }

#third  article{  height: 458px; position: absolute;  top: 291px; width: auto; }

#fourth  article{ height: 458px; position: absolute;  top: 291px; width: auto; }

#document  article {  height: 458px; position: absolute;  top: 291px; width: auto; }



